<div class=”main-container”>


<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">


   <!-- Clickable image for link-->
    <a class="navbar-brand" /a>
    <%= link_to image_tag("Aaronmug.png"), root_path, class:"nav-link" %>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent"> 

<!--
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Home", root_path, class:"nav-link" %>
        </li>     -->


<h3>       

       <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item px-3">
          <%= link_to "Meet Me", home_meetme_path, class:"nav-link" %>
        </li>        

       <p style="color:grey">
      <%= "|" %>
    </p>        


       <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item px-3">
          <%= link_to "Speaking", home_speaking_path, class:"nav-link" %>
        </li>

       <p style="color:grey">
      <%= "|" %>
    </p>        
  

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item px-3">
          <%= link_to "Audio", home_audio_path, class:"nav-link" %>
        </li>
        
 <p style="color:grey">
      <%= "|" %>
    </p>        

    
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item px-3">
          <%= link_to "Testimonials", home_testimonials_path, class:"nav-link" %>
        </li>

         
     </div>
      </ul>



       <form class="d-flex">
         <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <form class="d-flex">
          <li class="nav-item px-4">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">(Please Don't)
          Contact</a>
  </form>
</h3>  
    <!--
    </ul>
        <input class="form-control me-2" type="search" placeholder="Try Anyway?" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Fake Search!</button> 
      </form> -->
    </div>
  </div>
</nav>

<br/><br/><br/><br/><br/>




<!--     Bottom Bar   -->



<!-- Remove the container if you want to extend the Footer to full width. -->

<!--  Temporary blocking out this BOTTOM BAR


  <footer class="text-center text-lg-start fixed-bottom" style="background-color: grey;">
    <div class="container d-flex justify-content-center py-5">
      <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
        <i class="fab fa-facebook-f"></i>
      </button>
      <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
        <i class="fab fa-youtube"></i>
      </button>
      <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
        <i class="fab fa-instagram"></i>
      </button>
      <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
        <i class="fab fa-twitter"></i>
      </button>
    </div>        

    
    <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    
  </footer>
  
</div>
</div>
           -->


<!-- End of .container -->



        </li>
    </div>
</nav>
</footer>

</div> <!-— /.main-container-->