<h4>The Man, the Legend!</h4>

<br/><br/>
 
 <p> Aaron is a hardcore ballah straight outta Petitcodiac NB. He traveled to Ontario where he hustled mad paper, and made connections with powerful people. He originally left his hometown because he was frequently harrassed by his various harems across the maritimes.</p>

 <p>
 Also:
 </p>	

<p>	Aaron Gautreau is a motivational speaker and childhood cancer survivor who inspires you to be the master of your fate, no matter the circumstance. Since Aaron was a young boy, tens of thousands of people have enjoyed the warmth, humor, and transformational power of his speeches. Aaron has conquered many obstacles in his life. He wasn't supposed to survive stage four cancer when he was diagnosed as a two-year-old.  Aaron was told he wouldn't be able to walk. He eventually amputated his leg in 2007 and has since raised well over $100,000 to walk with a special microprocessor leg. </p>



	<%= image_tag("aaronmeetme1.png") %>



<br/><br/><br/>
<p>
Aaron learned early in his life that circumstances don't define you; You do. He wants to show people how to get through difficult times and how to overcome obstacles and barriers in life. He wants to ignite indefinable confidence in people to know they have the power get through any adversity or circumstance. Aaron also wants to be a voice for amputees. He wants to raise awareness about the lack of funding and rep tape individuals have to go through to get a limb.</p>

<br/><br/><br/>
<p>
Aaron Gautreau always had a passion for radio and television. He graduated from Loyalist College in Belleville Ontario with a journalism and broadcasting degree. He is best known for serving as the morning news anchor for the myFM network in Ontario from 2011-2019. Aaron also has experience working with Rogers Television and Global News. He is also the official spokesperson for Annaleise Carr -- who set a world record by becoming the youngest person (14) to swim across Lake Ontario. Carr later had a successful Lake Erie crossing and raised more than $500,000 for Camp Trillium, which offers year-round recreational experiences to bring children with cancer and their families together.</p>

<br/><br/><br/>

<%= image_tag("aaronmeetme2.png") %><br/>
<br/> 

<p>

Aaron grew up in Petitcodiac, NB. Today, he lives in Simcoe, Ontario. Aaron loves spending his summers near the lake or ocean and enjoys working out and watching the Toronto Maple Leafs destroy the Montreal Canadiens.</p>

<br/> <br/>

<%= image_tag("aaronmeetme4.png") %><br/><br/>



<p>At age two, I was diagnosed with a stage four cancer called Rhabdomyosarcoma. It's cancer that attacks your muscle cells.</p>

<br/> 

<p>I had less than a fifty percent chance to live. I spent two and a half years on chemotherapy and radiation treatments.</p>

<br/>

<p>Doctors declared me cancer free at 5.</p>

<br/><br/><br/>

<%= image_tag("aaronmeetme3.png") %><br/><br/>



<p> I amputated my leg in March 2007. Several complications from cancer and fractured femurs made it too difficult to walk. Cancer also took my right quadriceps muscle.</p>

<br/> 

<p> When I amputated my leg there was no guarantee I would walk again. Because I have no muscle in my leg, I require a microprocessor knee.</p>

<br/> 

<p>Sadly, Canadian health plans and insurance companies provide little coverage, if at all, for these limbs. Since 2007, I have fundraised well over $100,000 to walk. I never want to fundraise again.</p> 

<br/> 

<p>My mission is to increase awareness and change for amputees. </p>
<br/><br/><br/>

<%= image_tag("aaronaudio.png") %><br/><br/>



<p>Television, radio & voiceover professional.</p>

<br/> 

<p>A longtime news anchor on the myFM radio network which spreads across Ontario, Canada.</p>

<br/> 

<p>I also emcee.</p>

<br/><br/><br/>

<%= image_tag("aaronmeetme5.png") %><br/><br/>


<p>I am a motivational speaker who has inspired audiences throughout Canada.</p>

<br/> 

<p>In my speeches I share personal and heartfelt stories to inspire people to discover who they are, and the importance of not giving up.</p>

<br/> 

<p>You have just one life.</p> 

<br/><br/>
